{% extends 'base.html' %}
{% block content %}
    <div class="container">
{#        {% for post in object_list  %}#}
{#            {{ post.category }}#}
{#            {% for tag in post.tags.all %}#}
{#                {{ tag }}#}
{#            {% endfor  %}#}
{#        {% endfor %}#}
        <div class="news">
            <div class="news-side">
                <h1 class="news-title">
                    News page

                </h1>
            </div>
            <div class="news-content">
                {% for post in object_list %}
                    <div class="post post_news">
                        <div class="post-header">
                            <a class="post__title" href="/profile?user_id={{ post.author_id }}">{{ post.author.username }}</a>
                            <span class="post__category">{{ post.category }}</span>
                        </div>
                        <div class="post__content">
                            <p class="post__content-text">{{ post.content|truncatechars:100 }} <a href="/news/{{ post.pk }}"
                                                                                                  class="post__link">Читать далее...</a></p>
                            {% if post.article_image  %}
                                <div class="post__content-image" style="background-image: url({{  post.article_image.url }})"></div>
                            {% endif %}
                        </div>
                        <div class="post__tags">
                                {% for tag in post.tags.all %}
                                    <span class="post__tag">
                                        #{{ tag }}
                                    </span>
                                {% endfor %}
                        </div>
                        <time class="post__date">{{ post.created_date|date:"H:i / M d, Y" }}</time>
                    </div>
                {% endfor %}
                {% if page_obj.has_previous %}
                    <a class="btn btn_news" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
            <div class="news-side">
                <div class="news-image"></div>
            </div>
        </div>
    </div>
{% endblock %}